body {
  font-family: "Lucida Console", Monaco, monospace;
  color: #333;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
  text-align: center;
}

.avatar {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper > h1 {
  margin: 0;
}

.container {
  margin: 0 4%;
  padding-bottom: 24px;
}

.btn {
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  margin: 12px 0;
  max-width: 100px;
  text-align: center;
}

h1 {
  font-weight: normal;
}

section {
  margin-top: 0;
  padding-top: 12px;
}

section > h1 {
  text-decoration: underline;
  margin-bottom: 48px;
}

section a {
  color: black;
}

.item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 48px;
  margin-top: 24px;
  text-decoration: none;
  color: #333;
}

.item > a > img {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border: 1px solid #333;
  border-radius: 6px;
  margin-right: 12px;
}

.item > span {
  max-width: 780px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  padding: 48px 0;
}

footer > h2 {
  margin-bottom: 24px;
  text-align: center;
}

.social-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.social-btns > a {
  margin: 0 6px;
}

.social-btns > a > i {
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-item {
  width: 340px;
  border: 1px solid #333;
  border-radius: 6px;
  margin: 12px;
}

.gallery-item > img {
  width: 340px;
  height: 340px;
}

.gallery-item > span {
  font-size: smaller;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .item {
    margin-left: 22px;
  }
  .item > img {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin: 0 12%;
  }
}