<section class="flex flex-col flex-wrap my-4" id="slides">
  <a class="text-2xl my-4" href="#slides">
    <%= slides.title %>
  </a>
  <ul class="divide-y space-y-2 list-disc list-inside">
    <% slides.items.forEach(function(item, index) { %>
      <li class="text-left p-2">
        <a
          class="underline"
          target="_blank"
          rel="noreferrer"
          href="<%= item.link %>"
        >
          <span><%= item.name %></span>
        </a>
      </li>
    <% }); %>
  </ul>
</section>
