<section class="flex flex-col my-4" id="about-me">
  <a class="text-2xl my-4" href="#about-me"><%= me.title %></a>
  <div class="divide-y space-y-2">
    <% me.items.forEach(function(item) { %>
    <div class="p-2">
      <a class="underline" target="_blank" rel="noreferrer" href="<%= item.link %>">
        <span class="font-semibold"><%= item.name %>:</span>
        <span><%= item.description %></span>
      </a>
    </div>
    <% }); %>
  </div>
</section>
