<footer class="flex flex-col bg-gray-800 items-center w-full text-white space-y-4 py-16">
  <h2 class="text-xl">Find me on 👇🏽</h2>
  <div class="flex flex-wrap justify-center items-center [&>a]:cursor-pointer [&>a]:mx-2 [&>a]:underline">
    <a
      target="_blank"
      rel="noreferrer"
      href="mailto:cedar.onyxes0q@icloud.com"
      aria-label="email"
    >
      email
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://github.com/sjdonado"
      aria-label="github"
    >
      github
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://dev.to/sjdonado"
      aria-label="dev.to"
    >
      dev.to
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://linkedin.com/in/sjdonado"
      aria-label="linkedin"
    >
      linkedin
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://stackoverflow.com/users/8108856/juan-rodriguez"
      aria-label="stackoverflow"
    >
      stackoverflow
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://vsco.co/sjdonado/gallery"
      aria-label="vsco"
    >
      vsco
    </a>
  </div>
</footer>
